<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="conn" value="server=localhost;port=3306;user id=root;password=;database=paybackalarmclock;Charset=utf8;"/>
    <add key="conn_mysql" value="server=localhost;port=3306;user id=root;password=;Charset=utf8;"/>
    <add key="database" value="paybackalarmclock"/>
  </appSettings>
</configuration>